<div class="container mt-5">
    <h3 class="text-center">รายชื่อสมาชิกในกลุ่ม</h3>
    <table class="table table-striped mt-4">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">รหัสนักศึกษา</th>
                <th scope="col">ชื่อ</th>
                <th scope="col">นามสกุล</th>
                <th scope="col">ชื่อเล่น</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>6021207011</td>
                <td>อุดมพล</td>
                <td>บุญสง่า</td>
                <td>พล</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>6021207028</td>
                <td>คุณภัทร</td>
                <td>กันนิดา</td>
                <td>แชม</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>6021207051</td>
                <td>ศิริวัฒน์</td>
                <td>ศักดิ์กุลภิตานนท์</td>
                <td>โบ้</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>6021207057</td>
                <td>กฤษณะ</td>
                <td>ทะจู</td>
                <td>โก๊ะ</td>
            </tr>
        </tbody>
    </table>
</div>